@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 38px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    color: $title;

    text-transform: uppercase;
    transition: all .3s;
    padding-bottom: 2px;
    @extend %quicksand-400;
    
    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %quicksand-500;
    }
  }
  &__list-link--activ {
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %quicksand-500;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link + .user-nav__link {
    padding-left: 25px;
  }
  &__link-num {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -9px;
    right: -14px;

    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;

    border-radius: 50%;
    background-color: $accent;
  }
}




@import 'media';

